@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Medisen Home Treatment</h1>
    <p>Medisen Home Treatment provides healing process for you at your home. Here we work with qualified and responsible specialists who are available <br /> 24/7 hours per day for you! We offer visit to you home, chat with at a professional medical member of our staff and many other services.</p>
    <img src="~/images/banner_img.png" />
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Services</h1>
</div>
<div class="row text-center" id="servicesInfo">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/images/1.PNG" />
            <div class="card card-body">
                <h4 class="card-title">Diagnostics</h4>
                <hr />
                <p class="card-text"> <b>Diagnostics</b> nowadays give us an accurate picture of a person's current health status. We do this in a convenient time of the patient trying not to hinder all his commitments. Our medical staff are working professionally and responsibly to track out all the emergent problems.</p>
            </div>
            @*<div class="card card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>*@
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/images/2.PNG" />
            <div class="card card-body">
                <h4 class="card-title">Treatment plan</h4>
                <hr />
                <p class="card-text">Our <b>Treatment plan</b> is to combine not only drugs and medical care, but also to include appropriate nutrition diet and sport to the whole process of recovery. We stand behind the idea that combination of all these steps help for the good health care and we provide an assistance by making up such a plan.</p>
            </div>
            @*<div class="card card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>*@
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/images/3.PNG" />
            <div class="card card-body">
                <h4 class="card-title">Prescription drugs</h4>
                <hr />
                <p class="card-text"> We are well acquainted that not all drugs are doing their job for the most of the time, so with our service <b>Prescription drugs</b> we monitor the chemical process in our patients body, so that we know their status and change some of the drugs if needed, so that to provide the best answer in the period of recovery.</p>
            </div>
            @*<div class="card card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>*@
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="~/images/4.PNG" />
            <div class="card card-body">
                <h4 class="card-title">Health equipment</h4>
                <hr />
                <p class="card-text"> Here we have a full storage of a clean, high quality and well-maintained <b>Health equipment</b> for all the needs that our patients have. We insist on this addition to our home treatment services, because it is a vital part as well, because the equipment prevents damages and breaking the process at some point.</p>
            </div>
            @*<div class="card card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>*@
        </div>
    </div>
</div>



@* AJAX CALL SUCCESS*@
@*<button class="btn btn-primary" onclick="loadAllUsers()">Load Users</button>

<div class="col-sm-8">
    <h3> Table User </h3>
    <table id="owner-table" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            <tr>
        </thead>
        <tbody> </tbody>
    </table>
</div>*@




@* AJAX CALL SUCCESS*@
    @*@section scripts{
<script type="text/javascript">
        function loadAllUsers() {
            $.ajax({
                url: '@Url.Action("GetAllUsers")',
                type: "POST",
                data: null,
                dataType: "json",
                success: function (response) {
                    $("#owner-table tbody tr").remove();
                    if (response.length === 0) {
                        $('#owner-table').append('<tr><td>No Users!</td></tr>');
                    } else {
                        response.forEach(function (owner) {
                            addPersonIntoOwnersTable(owner.id, owner.firstName, owner.email);
                        });
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        function addPersonIntoOwnersTable(id, name, emailAddress) {
            $('#owner-table').append('<tr><td>' + id + '</td><td>' + name + '</td><td>' + emailAddress + '</td></tr>')
        }
</script>

}*@