@model UserViewModel
@{
    ViewData["Title"] = "Edit User";
}
<div class="alert alert-warning">
    <div class="text-center"> <strong>Note!</strong> <span>If you change the Status below from Doctor to Patient or vice versa, then all the correspondence in Messages will be deleted!</span></div>
</div>
<hr />
<div class="form-group text-center">
    <a class="btn btn-outline-primary float-left" style="margin-top:15px" href="~/Admin/AllUsers">Back</a>
    <h1 style="margin-right:50px">Edit</h1>
</div>
<br />



<form asp-controller="Admin" asp-action="Edit" method="post" name="login">
    <div class="form-group  text-center">
        <b>User Name:</b>
        <br/>
        <div class="form-group">
            <input asp-for="FirstName" value="@Model.FirstName" />
            <input asp-for="LastName" value="@Model.LastName" />
            <input asp-for="EmailAddress" type="hidden" />
        </div>
    </div>

    <div class="form-group text-center">
        <b>Set User Status:</b>
        <div class="form-check">
            @if (Model.Status == "1")
            {<input asp-for="Status" type="radio" value="Doctor" id="flexRadioDefault1" checked /> }
            else
            { <input asp-for="Status" type="radio" value="Doctor" id="flexRadioDefault1" />}
            <label class="form-check-label" for="flexRadioDefault1">
                Doctor
            </label>
        </div>
        <div class="form-check">
            @if (Model.Status == "2")
            {<input asp-for="Status" type="radio" value="Patient" id="flexRadioDefault2" checked /> }
            else
            { <input asp-for="Status" type="radio" value="Patient" id="flexRadioDefault2" />}
            <label class="form-check-label" for="flexRadioDefault2">
                Patient
            </label>
        </div>
        <div class="form-check">
            @if (Model.Status == "3")
            {<input asp-for="Status" type="radio" value="New User" id="flexRadioDefault3" checked /> }
            else
            { <input asp-for="Status" type="radio" value="New User" id="flexRadioDefault3" />}
            <label class="form-check-label" for="flexRadioDefault3">
                New User
            </label>
        </div>
    </div>

    <div class="text-center ">
        <button type="submit" class=" btn btn-primary" style="width:200px">Save changes!</button>
    </div>
</form>

